[Unit]
Description=Polling Server Service
After=network.target auditd.service nginx.service pinger.service

[Service]
ExecStart=/home/ps/ps /home/ps/ps.json
Restart=on-failure
Type=simple
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
